@import "../../variables";

:host {
  display: block;
  background-color: $purple-color;
  color: white;
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    margin: 0 5%;

    h1 {
      font-weight: inherit;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      .icon {
        color: white;
      }

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
