@import "../../../../variables";

:host {
  .recipe-preview {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 5%;

    p {
      width: 100%;
      cursor: pointer;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 5px;
        transition: 0.2s ease-in-out;

        &.edit-ingredient:hover {
          color: $succes-color;
        }

        &.delete-ingredient:hover {
          color: $danger-color;
        }
      }
    }
  }
}
