h1 {
  text-align: center;
}

.element {
  .element_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    a {
      margin-left: 10px;
    }
  }
}

.button-container {
  justify-content: center;
}
