* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  p,
  a {
    font-size: 1rem;
    color: black;
  }
}

/* Rules for sizing the material icons. */
.material-icons.md-18 {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
  height: 24px;
  width: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
  height: 36px;
  width: 36px;
}
